*,
*::before,
*::after {
  box-sizing: border-box;
}

.head-line {
  margin-bottom: 24px;
}
.main-section {
  font-family: 'Montserrat', sans-serif;
  padding-left: 24px;
}

input {
  margin-right: 8px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
  outline: none;
}

input:hover {
  border-color: #000;
}

input:active {
  color: #000;
  border-color: #4e75ff;
}

button {
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #fff;
}
button:hover {
  background: #6c8cff;
}
button:disabled {
  background: #cfcfcf;
  color: #989898;
}

.timer {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-top: 32px;
}

.field span {
  display: block;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: center;
  text-transform: uppercase;
}
.field .value {
  font-size: 40px;
  line-height: 1.2;
}
.ladel {
  font-size: 16px;
  line-height: 1.5;
}
